<div>
    <div class="container-fluid footer mt-5">
        <div class="row">
            <div class="col-12 col-sm-6 col-sm-6 col-lg-3 text-center">
                <div>
                    <img src="{{info.logo.url}}" width="200px" alt="">
                    <h2>We building something magical</h2>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-sm-6 col-lg-3 text-center">
                <h2>category</h2>
                <ul class="list-unstyled">
                    <li><a href="/benz.html">Mecedes Cars</a></li>
                    <li><a href="/lexus.html">Lexus Cars</a></li>
                    <li><a href="/honda.html">Honda Cars</a></li>
                    <li><a href="/toyota.html">Toyata Cars</a></li>
                </ul>
            </div>
            <div class="col-12 col-sm-6 col-sm-6 col-lg-3 text-center">
                <h2>quick links</h2>
                <ul class="list-unstyled">
                    <li><a href="/index.html">Home</a></li>
                    <li><a href="/product.html">Products</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="/contact.html">Contact</a></li>
                </ul>
            </div>
            <div class="col-12 col-sm-6 col-sm-6 col-lg-3">
                <h2>follow us</h2>
                <ul class="list-unstyled">
                    <li><i class="bi bi-facebook"></i>Facebook</li>
                    <li><i class="bi bi-twitter-x"></i>twitter</li>
                    <li><i class="bi bi-instagram"></i>Instagram</li>
                    <li><i class="bi bi-tiktok"></i>Tictok</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center footer2">
            <p class="pt-2 text-center">&copy; copyright 2023 codeXcraFT | All rights reserved</p>
        </div>
    </div>
</div>